$navbar-default-bg: #DAA520;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}
.jumbotron {
  //background-image: asset-url('cover4.jpg');
  //background-size: cover;
  //height: 300px;
  padding: 3px ;
  margin: 0 ; 
  //left: 0 !important;
  //right: 0 !important;
  
}

#bg {
  //background-image: asset-url('bg4.jpg');
}
  
#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom : 30px;
  letter-spacing: -1px;
  font-weight: bold;
}
.jumbotron h2 {
  color: #fff;
  text-align: center;
  margin-bottom : 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  background-color: #073B15;
}

.btn-xlarge:hover {
  color: #fff;
  text-decoration: none;
}
/*=====================footer===============================*/
footer {
  //margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  padding-left: 10px;
  padding-right: 10px;
}


footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
/*============================================================*/
.description {
  margin-top: 0;
}

.well a {
  color: #073B15;
}

.chef_info {
  margin-top: 10px;
}

.colormatch a {
  color: #073B15;
}

.recipe-actions {
  padding-top: 5px;
  a {
    color: #fff;
  }
}

.listing {
  list-style: none;
  padding-left: 0;
}

.chef-title {
  color: #073B15;
  font-weight: bold;
  font-size: 1.25em;
}

.input_checkbox input {
  width: auto !important;
}

//======================= Chat ======================
.center-block {
  float: none;
}

.chat-container {
  bottom: 0;
  left: 0;
  right: 0;
  top: 150px;
  width: 80;
}

.message-container {
  .form-control {
    float: left;
    width: 80%;
  }
  .btn {
    float: right;
    position: relative;
    height: 54px !important;
    width: 18%;
  }
}

.message {
  padding-left: 5px;
  //background-image: asset-url('bg4.jpg');
  //padding-top: 10px;
}

.messages {
  border: 1px solid #eaeaea;
  height: 40em;//height of chat box
  position: relative;
  overflow: auto;
}
/*=======================================================================*/
.navbar {//this will remove gap between navbar and jumbotron
    //background-color: #2c3e50;
    margin:0; /*add this*/
}

/*=======================================================================*/
/* Stripe
/*=======================================================================*/
.user-name {

padding: 0 !important ;

padding-left: 5px;

padding-top: 15px !important;

text-align: center;

a {

color: black !important;

margin: 0 !important;

padding: 5px!important;

}

a:hover, a:focus {

color: #000 !important;

}

}

.logout {

padding-left: 0;

}

.nav.navbar-right {

padding-bottom: 10px;

padding-top: 5px;

}

.nav.navbar-nav {

.navbar-link {

border-radius: 5px;

color: #fff;

margin-top: 15px;

padding: 8px;

}

.navbar-link:focus, .navbar-link:hover {

background: #3071a9;

color: #fff;

}

li a {

margin-right: 5px;

}

}

.nav.navbar-right li {

.btn {

color: #fff !important;

margin-top: 5%;

}

.btn-danger:hover, .btn-danger:focus {

background-color: darken(#d9534f,20%) !important;

}

.btn-primary:hover, .btn-primary:focus {

background-color: darken(#428bca,20%) !important;

}

}

.btn-primary:visited, .btn-danger:visited {

color: #fff;

}