/*=====================================================================*/
/*                   effect on mouse over                              */
/*=====================================================================*/

a:hover {
    // background: silver;
    font-size:1.3em;
    font-weight:bold;
}