/*=====================================================================*/
/*      play around with table-layout: set in the middle               */
/*=====================================================================*/

table {
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
}
table, td, th { border: 1px solid gray }
table th { text-align: center; }
/*====================================================================*/
/*            my old css from Webdevelopment:                         */
/*====================================================================*/
pre
{
  //set tab size to 2 instead of 8
  -moz-tab-size: 2; /* Code for Firefox */
  -o-tab-size: 2; /* Code for Opera 10.6-12.1 */
  tab-size: 2;  
  font-size: 1.3em !important;
}

h1 {text-align: center;}

.centerBlue
{
  text-align: center;
  color:blue;
  font-family: monospace;
}

.preBlue
{
  color:blue;
}

/*======================table===============================*/
.customers,.customers2 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}
.customers2{
  width: 50%;
}
.customers2{
  width: 100%;
}

.customers td, .customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
.customers2 td, .customers2 th {
  border: 1px solid #ddd;
  padding: 3px;
}

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
.customers caption{
  text-align: center;
  color:blue;
  background-color: #ddd;
}

/*======================Jumping table===============================*/
#jumpTbl {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

#jumpTbl td, #jumpTbl th {
  border: 1px solid #ddd;
  padding: 3px;
}

/*======================Worksheet===============================*/
h1,h2,h3,h4,h5,h6{
	font-weight:bold !important;
}
#Worksheet p, .code {//this is use in chapter 1 worksheet
	font-family: monospace;
}
.codeblock2 
{
	//padding: 10px;
	font-family: monospace;
	//border: 1px solid #aaaaaa;
	//background-color: #dddddd;
	color: #000000;
	white-space: pre;
  //set tab size to 2 instead of 8
  -moz-tab-size: 2; /* Code for Firefox */
  -o-tab-size: 2; /* Code for Opera 10.6-12.1 */
  tab-size: 2;
}
/*======================footer===============================*/
footer {
	//margin-top: 45px;
	//padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}
footer small {
	float: left
}
footer ul {
	float: right;
	list-style: none;
}

/*=====================================================*/
p {
	font-size: 1.3em;
	line-height: 1.75;
}

